.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
build/_deps/nlohmann_json-subbuild/cmake_install.cmake
build/_deps/nlohmann_json-subbuild/CMakeCache.txt
build/_deps/nlohmann_json-subbuild/CMakeLists.txt
build/_deps/nlohmann_json-subbuild/Makefile
build/_deps/nlohmann_json-subbuild/CMakeFiles/cmake.check_cache
build/_deps/nlohmann_json-subbuild/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/nlohmann_json-subbuild/CMakeFiles/CMakeOutput.log
build/_deps/nlohmann_json-subbuild/CMakeFiles/CMakeRuleHashes.txt
build/_deps/nlohmann_json-subbuild/CMakeFiles/Makefile.cmake
build/_deps/nlohmann_json-subbuild/CMakeFiles/Makefile2
build/_deps/nlohmann_json-subbuild/CMakeFiles/progress.marks
build/_deps/nlohmann_json-subbuild/CMakeFiles/TargetDirectories.txt
build/_deps/nlohmann_json-subbuild/CMakeFiles/3.22.1/CMakeSystem.cmake
build/_deps/nlohmann_json-subbuild/CMakeFiles/Progress/4
build/_deps/nlohmann_json-subbuild/CMakeFiles/Progress/count.txt
build/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/build.make
build/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/cmake_clean.cmake
build/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/compiler_depend.make
build/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/compiler_depend.ts
build/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/DependInfo.cmake
build/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/Labels.json
build/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/Labels.txt
build/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/progress.make
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-gitinfo.txt
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-mkdir
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/tmp/nlohmann_json-populate-cfgcmd.txt
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/tmp/nlohmann_json-populate-cfgcmd.txt.in
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/tmp/nlohmann_json-populate-gitclone.cmake
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/tmp/nlohmann_json-populate-gitupdate.cmake
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/a.out
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/image_server.dir/build.make
build/CMakeFiles/image_server.dir/cmake_clean.cmake
build/CMakeFiles/image_server.dir/compiler_depend.internal
build/CMakeFiles/image_server.dir/compiler_depend.make
build/CMakeFiles/image_server.dir/compiler_depend.ts
build/CMakeFiles/image_server.dir/depend.make
build/CMakeFiles/image_server.dir/DependInfo.cmake
build/CMakeFiles/image_server.dir/flags.make
build/CMakeFiles/image_server.dir/link.txt
build/CMakeFiles/image_server.dir/progress.make
build/CMakeFiles/image_server.dir/src/ConfigManager.cpp.o
build/CMakeFiles/image_server.dir/src/ConfigManager.cpp.o.d
build/CMakeFiles/image_server.dir/src/HttpParser.cpp.o
build/CMakeFiles/image_server.dir/src/HttpParser.cpp.o.d
build/CMakeFiles/image_server.dir/src/ImageProcessor.cpp.o
build/CMakeFiles/image_server.dir/src/ImageProcessor.cpp.o.d
build/CMakeFiles/image_server.dir/src/Logger.cpp.o
build/CMakeFiles/image_server.dir/src/Logger.cpp.o.d
build/CMakeFiles/image_server.dir/src/main.cpp.o
build/CMakeFiles/image_server.dir/src/main.cpp.o.d
build/CMakeFiles/image_server.dir/src/Server.cpp.o
build/CMakeFiles/image_server.dir/src/Server.cpp.o.d
build/CMakeFiles/image_server.dir/src/ThreadPool.cpp.o
build/CMakeFiles/image_server.dir/src/ThreadPool.cpp.o.d
build/CMakeFiles/image_server.dir/src/YOLOv8Detector.cpp.o
build/CMakeFiles/image_server.dir/src/YOLOv8Detector.cpp.o.d
build/models/yolov8n.onnx
build/models/yolov8x-seg.onnx
build/models/yolov8x.onnx
build/web/index.html
build/web/index1.html
build/cmake_install.cmake
build/CMakeCache.txt
build/image_server
build/Makefile
build/server.log
models/yolov8n.onnx
models/yolov8x-seg.onnx
models/yolov8x.onnx
test/00029.jpg
test/0000140_02677_d_0000007.jpg
test/segmentation_masks_only.jpg
test/segmentation_with_boxes.jpg
test/test_y8.cpp
test/test_yolo_detector
test/test_yolo_detector.cpp
test/test_yolo_segmentation
test/test_yolo_segmentation.cpp
test/test_yolov8
test/validate_yolo_outputs.cpp
test/yolo_detector_result.jpg
test/YOLO_MODEL_GUIDE.md
